<?xml version="1.0" encoding="utf-8"?>
<CSSLTemplate ShaderName="Simple" ProgramType="VertexFragment">
  <VertexShaderFieldList>
    <ShaderField Qualifier="In" FieldType="vec3" FieldName="in_Position" FieldValue="vec3(1.0f,1.0f,1.0f)" />
    <ShaderField Qualifier="In" FieldType="vec3" FieldName="in_Color" FieldValue="vec3(1.0f,1.0f,1.0f)" />
    <ShaderField Qualifier="Out" FieldType="vec3" FieldName="pass_Color" FieldValue="vec3(1.0f,1.0f,1.0f)" />
    <ShaderField Qualifier="Uniform" FieldType="mat4" FieldName="projectionMatrix" FieldValue="mat4(1.0f)" />
    <ShaderField Qualifier="Uniform" FieldType="mat4" FieldName="viewMatrix" FieldValue="mat4(1.0f)" />
    <ShaderField Qualifier="Uniform" FieldType="mat4" FieldName="modelMatrix" FieldValue="mat4(1.0f)" />
  </VertexShaderFieldList>
  <GeometryShaderFieldList />
  <FragmentShaderFieldList>
    <ShaderField Qualifier="In" FieldType="vec3" FieldName="pass_Color" FieldValue="vec3(1.0f,1.0f,1.0f)" />
    <ShaderField Qualifier="Out" FieldType="vec4" FieldName="out_Color" FieldValue="vec4(1.0f,1.0f,1.0f,1.0f)" />
  </FragmentShaderFieldList>
  <IntermediateStructureList />
</CSSLTemplate>