<?xml version="1.0" encoding="utf-8"?>
<CSSLTemplate ShaderName="Ground" ProgramType="VertexFragment">
  <VertexShaderFieldList>
    <ShaderField PropertyType="Position" Qualifier="In" FieldType="vec3" FieldName="position" />
    <ShaderField PropertyType="Other" Qualifier="Uniform" FieldType="mat4" FieldName="projectionMatrix" />
    <ShaderField PropertyType="Other" Qualifier="Uniform" FieldType="mat4" FieldName="viewMatrix" />
    <ShaderField PropertyType="Other" Qualifier="Uniform" FieldType="mat4" FieldName="modelMatrix" />
  </VertexShaderFieldList>
  <GeometryShaderFieldList />
  <FragmentShaderFieldList>
    <ShaderField PropertyType="Other" Qualifier="Uniform" FieldType="vec3" FieldName="lineColor" />
    <ShaderField PropertyType="Other" Qualifier="Out" FieldType="vec4" FieldName="outputColor" />
  </FragmentShaderFieldList>
  <IntermediateStructureList />
</CSSLTemplate>