@import url(https://fonts.googleapis.com/css?family=Gudea);

body {
	font-family: Gudea, sans-serif;
	font-size: 16px;
	color: #111;
    background-color: #eee;
    margin: 0px;
    padding: 0px;
	background-image: none;
    /* background-image: url('img/header_repeat2.png');
    background-repeat: repeat-x; */ 
}

#header {
    cursor: pointer;
    position: absolute;
    left: 75px;
    width: 250px;
    top: 0px;
    height: 128px;
    background-image: url('img/logo.png');
    background-repeat: no-repeat;
}

#supercontainer {
    width: 1420px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

#container {
    width: 1100px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-top: 50px; */
}

#loading {
    position: absolute;
    margin-left: 700px;
    margin-top: 20px;
}

#nav {
    position: relative;
    color: #ddd;
    width: 335px;
    float: left;
    margin-top: 75px;
}

#social {
    float: left;
    margin-left: 40px;
    margin-top: -20px;
}

#nav #donate {
margin-left: 55px;
margin-top: -3px;
}

#nav #donate_img {
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-image: url('img/donate_button.png');
    width: 120px;
    height: 64px;
}

#nav #donate #alipay {
margin-left: -145px;
margin-top: 10px;
}

#nav .btc {
margin-top: 10px;
margin-left: 40px;
width: 150px;
}

#nav .btc p {
color: #222;
display: block;
text-align: center;
word-break: break-all;
white-space: normal;
}

#nav .btc h3 {
	color: #222;
	font-weight: bold;
	text-align: center;
}

#nav .btc img {
    border: 0px;
    margin: 0px;
	margin-left: 10px;
    padding: 0px;
    width: 130px;
}

#nav #donate_img:hover {
    background-image: url('img/donate_button_hover.png');
}

#nav #ad {
    width: 300px;
    height: 600px;
    margin-left: 37px;
    margin-top: 25px;
}

#nav #menu_book {
    margin-left: 47px;
    margin-top: 10px;
	margin-bottom: 25px;
}

#nav #menu_book img {
    margin-left: 0px;
    margin-right: 0px;
    width: 135px;
    height: auto;
    #margin-top: -5px;
}

#nav #menu_book img:hover {
    filter: brightness(120%);
}

#header_ad {
    height: 90px;
}

#waldo-tag-6194, #waldo-tag-6195 {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

#in_content_ad_1, #in_content_ad_2, #in_content_ad_3 {
	
}	

#rightad_container {
    position:relative;
    float: right;
    width: 300px;
    margin-right: 10px;
    margin-top: 67px;
}

#rightad {
    /* width: 160px; */
    /* height: 200px;     */
    /* background-color: #888; */
}

#rightonetenthad {  
    position: absolute;
	top: 1500px;
    width: 300px;
}

#rightthreetenthad {
	color: #222;
    position: absolute;
	top: 4500px;
    width: 300px;
}

#rightfifthtenthad {
	color: #222;
    position: absolute;
	top: 7500px;
    width: 300px;
}

#rightseventhtenthdad {
	color: #222;
    position: absolute;
	top: 10500px;
    width: 300px;
}

#rightninthtenthdad {
	color: #222;
    position: absolute;
	top: 13500px;
    width: 300px;
}

#lefttwotenthad {
	color: #222;
    position: absolute;
	top: 3000px;
    width: 300px;
}

#leftfourthtenthad {
	color: #222;
    position: absolute;
	top: 6000px;
    width: 300px;
}

#leftsixthtenthad {
	color: #222;
    position: absolute;
	top: 9000px;
    width: 300px;
}

#lefteighttenthad {
	color: #222;
    position: absolute;
	top: 12000px;
    width: 300px;
}

#lefttenthtenthad {
    position: absolute;
	top: 15000px;
    width: 300px;
}


#admessage {
    width: 280px;
    margin-top: 20px;
    padding: 10px;
    font-size: 0.75em;
    color: 888;
    background-color: #DADADA;
    border: 1px solid #CCC;
}

#translations ul {
    
}

#translations ul li {
}

img.translation {
    float: left;
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    margin-top: -5px;
}

.social_ico {
    display: inline;
    width: 25px;
    height: 25px;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    margin-top: 4px;
    margin-right: 3px;
    opacity: 0.75;
}

.social_ico:hover {
    opacity: 0.9;
}

#social a {
    text-decoration: none;
}


#social_media a {
    text-decoration: none;
}

#content   {
    width: 750px;
    float: left;
}

#disqus_thread {
    width: 730px;
    float: right;
	margin-right: 20px;
    margin-top: 30px;
    display: none;
}

warning {
	display:block;
	margin:20px;
	padding:15px;
	background-color: #FFD2D2;
	color: #444;
	border-radius: 5px;
	border: 2px solid #E0B3B3;
}

note {
	display:block;
	margin:20px;
	padding:15px;
	background-color: #D8F5D8;
	color: #444;
	border-radius: 5px;
	border: 2px solid #AFDFAF;
}

author {
	display:block;
	margin:10px;
	margin-top: 15px;
	padding:10px;
	background-color: #eee;
	color: #444;
	border-radius: 2px;
	border: 2px solid #ccc;
}

function {
    cursor: pointer;
    border-bottom: 1px solid #c1c1c1;
}

def {
    color: green;
}

fun {
    font-family: "Courier New", Courier, monospace;
    color: #822;
}

var {
    font-style: normal;
    font-family: "Courier New", Courier, monospace;
    color: #227;
}

p code {
 
}

p.mathjax {
	white-space: nowrap;
}

.hljs {
	white-space: pre;
    overflow-x: auto;
}

indepth strong.indepth_header {
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;    
    color: #333;
}

indepth {
    display:block;
    margin:20px;
    padding: 10px;
	background-color: #BDF;
	color: #444;
	border-radius: 5px;
	border: 3px dotted #9BD;    
}

indepth p {
    padding: 15px;
    display: none;
}

indepth img {
    display: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    border: 3px solid #bbb;
	max-width: 750px;
}

img.clean {
    border: 0px;
    border-radius: 0px;
}

img.no_radius {
    border-radius: 0px;
}

img.left {
    float: left;
    margin: 10px;
    border: 2px solid #bbb;
    border-radius: 3px;
    margin-right: 20px;
}

img.right {
    float: right;
    margin: 10px;
    margin-left: 20px;
}

img.small {
	width: 150px;
	height: auto;
}

img.medium {
	width: 300px;
	height: auto;
}

img.large {
	width: 500px;
	height: auto;
}

img.book {
    margin-left: 100px;
    margin-right: 50px;
    height: 200px;
    width: auto;
    #margin-top: -5px;
}

video {
    position:relative;
    display: block;
    margin: 0px;
    padding: 0px;
}

video.clean {
    border: 0px;
}

.video {
    position:relative;
    cursor: pointer;
    background-image: url('img/start_video.png');
    width: 600px;
    height: 450px;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    border: 3px solid #bbb;
}

.paused video {
    position:relative;
    z-index: -1;
}

.box {
    display: flex; 
}

audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* == TABLES == */
table, td {
    border-bottom: 1px solid #AAA;
    border-top: 1px solid #AAA;
}

th {
   border-bottom: 2px solid #888;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 6px;
}

tr:nth-child(even) {
    background-color: #DDD;
}


/* pre code.hljs { */
    /* display: block; */
    /* padding-top: -35px; */
    /* margin-bottom: 2px; */
    /* font-size: 14px; */
/* } */


pre code function  {
     text-decoration: none;
     border-bottom: 1px solid #343434;
}

#hover {
    display: none;
    position: absolute;
    color: #222;
    width: 600px;
    border-radius: 5px;
    border: 5px dotted #ccc;
    background-color: #eee;
    /*background-image: url('img/header_repeat2.png');
    background-repeat: repeat-x;*/
    opacity:0.95;
    filter:alpha(opacity=95); /* For IE8 and earlier */
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;
}
/* Elements */
h1 {
   color: #303236;
   margin-bottom: -10px;
}

h2 {
    /*color: #394666;*/
    color: #37425d;
    font-size: 22px;
    margin-bottom: -10px;
}

h3 {
    color: #633739;
     margin-bottom: -10px;
}

a {
    color: #58A;
}

#hover h2 {
    color: #823;
    margin-bottom: 0px;
}

#hover h3 {
    margin-bottom: 0px;
    margin-top: -30px;
    margin-left: 100px;
    text-align: right;
    font-size: 16px;
    font-weight: normal;
    /* text-decoration: underline; */
    color: #238;
}

#hover h4 {
	margin-bottom: 4px;
	color: #45A;
}

#hover pre {
	margin-top: 0px;
	padding: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 12px;
}

#nav ol {
    list-style-type: none;
}

#nav li {
    cursor: pointer;
}

#nav li span, #nav li a {
    color: #ddd;
    text-decoration: none;
    display: block;
    width: 148px;
    height: 20px;
    background-image: url('img/nav-button.png');
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 1px;
}

#nav span.selected, #nav a.selected {
    color: #78B;
}

#nav li span.closed, #nav li a.closed {
    background-image: url('img/nav-button_right-arrow.png');
}

#nav li span.open, #nav li a.open {
    background-image: url('img/nav-button_bottom-arrow.png');
}

#nav li span:hover, #nav li a:hover {
    color: #aaa;
}

#nav span.selected:hover, #nav a.selected:hover {
    color: #56A;
}

#support {
    width: 100%;
    height: 100%;
    padding-top: 15px;
}

#support_left {
    width: 60%;
    float: left;
}

#support_right {
    width: 40%;
    float: right;
}
#support_right img {
    border: 0;
    width: 200px;
    padding-top: 18px;
    padding-bottom: 15px;
}

#support_right img {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


#admin_login {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding: 20px;
    background-color: #dddde8;
    border-radius: 7px;
    border: 3px solid #bbc;
}

#admin_login h1 {
    text-align: center;
    color: #779;
}

#admin_login form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #555;
}

#admin_login form ul{
    list-style-type: none;
    display: block;
    clear: both;
}

#admin_login form li label {
    margin-right: 20px;
    padding-right: 10px;
}

#admin_login input.button {
    margin-top: 3px;
    width: 50px;
    height: 25px;
    margin-left: 201px;
}
